<mat-list *ngIf="filme; else semRegistro">
    <mat-list-item> Título: {{ filme.titulo }}</mat-list-item>
    <mat-list-item> Data de Lançamento: {{ filme.dtLancamento | date: 'dd MMMM yyyy' }} </mat-list-item>
    <mat-list-item> Gênero: {{ filme.genero }} </mat-list-item>
    <mat-list-item class="quebrar-linha"> Descrição: {{ filme.descricao }} </mat-list-item>
    <mat-list-item> Nota: <a [href]="filme.urlIMDb" target="_blank"> {{ filme.nota }} </a> </mat-list-item>
    <img mat-card-image [src]="filme.urlFoto || semFoto">
</mat-list>
<div class="main-div">
    <mat-card>
        <button color="accent" mat-raised-button (click)="voltar()" matTooltip="Início"><mat-icon>home</mat-icon></button>
        <button color="primary" mat-raised-button (click)="editar()" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
        <button color="warn" mat-raised-button (click)="excluir()" matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
    </mat-card>
</div>

<ng-template #semRegistro>
    <h1 class="full-width main-div">Nenhum registro encontrado.</h1>
</ng-template>